$primary-color: #ff5b5b;
$dark-gray-blue: #242941;
$gray-blue: #5a5e71;
$light-gray-blue: #eef2f6;



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;

  // Background gray box
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 55vw;
    height: 60vh;
    border-bottom-left-radius: 50px;
    background: $light-gray-blue;
    z-index: -1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

// Utilites
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.light-text {
  color: lighten($gray-blue, 20%);
}

.text-space {
  letter-spacing: 4px;
}

.text-round {
  padding: .35rem .50rem;
  border-radius: 15px;
  border: none;
  background: black;
  color: #fff;
  letter-spacing: 0;
  margin-right: .5rem;
}

%cta {
  padding: .75rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
}



.body-text {
  font-family: 'Barlow', sans-serif;
  color: lighten($gray-blue, 10%);
}

// Mobile Nav


.overlay {
  visibility: hidden;
  // opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 8rem auto;
  max-height: 300px;
  max-width: 320px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, .2);
  padding: 2rem 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 1;

  .overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    margin: 1rem 0;
    color: #333;
    display: inline-block;
    width: 100%;
    text-align: center;

    &:last-child {
      margin-top: 3rem;
      color: $gray-blue;
      position: relative;
      color: lighten($gray-blue, 20%);

      &::before {
        content: '';
        position: absolute;
        top: -30px;
        left: 0px;
        height: 1px;
        width: 100%;
        background: lighten($gray-blue, 50%);
      }
    }
  }


}




// Header
header {
  font-family: 'Barlow Condensed', sans-serif;
  padding: 4rem 8rem;
  margin-bottom: 2rem;

  img {
    width: 30px;
  }

  nav {
    display: flex;

    .mobile-nav-icon {
      display: none;
    }

  }

  ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
    font-size: 16px;
  }

  li {
    margin-left: 3rem;
    position: relative;

    &:last-child {
      margin-left: 6rem;

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        right: 80px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: lighten($gray-blue, 40%);
      }
    }

  }

  a {
    color: $dark-gray-blue;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Main section
main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem;
  padding-left: 8rem;
  position: relative;

  .showcase-info {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    grid-gap: 2rem;

    p {
      font-family: 'Barlow Condensed', sans-serif;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      font-family: 'Barlow Condensed', sans-serif;
    }

    .buttons {
      display: flex;

      .cta-primary {
        @extend %cta;
        background: $primary-color;
        color: #fff;

        &:hover {
          background: lighten($primary-color, 10%);
        }
      }

      .cta-light {
        @extend %cta;
        color: lighten($gray-blue, 20%);
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {

  header {
    padding: 4rem 8rem 4rem 5rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "info"
    ;
    margin-bottom: 4rem;
    padding: 0 0 0 1rem;

    .showcase-info {
      grid-area: info;
      padding: 0 4rem 0 4rem;
    }

    .showcase-image {
      grid-area: image;

      img {
        height: 80%;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  header {
    nav {
      display: flex;

      ul {
        display: none;
      }

      .mobile-nav-icon {
        display: block;
        margin-left: auto;
        align-self: center;
      }
    }
  }

  main {
    .showcase-image {
      padding: 0 0 0 1rem;
    }
  }

}

@media screen and (max-width: 700px) {
  body {
    &::after {
      width: 50vw;
      height: 51vh;
    }
  }

  header {
    padding: 3rem 2rem;
  }

  main {
    .showcase-info {
      padding: 0 1rem;
      grid-row-gap: .75rem;

      h1 {
        font-size: 3rem;
      }
    }

    .showcase-image {
      padding: 0;
      margin: 0 0 2rem -4%;

    }

    .buttons {
      margin-top: 1rem;
    }
  }

  %cta {
    font-size: 11px;
  }
}